root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,h}]
indent_style = space
indent_size = 4

[*.{yml,sh,cmake}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4

[CMakeLists.txt]
indent_style = space
indent_size = 2
