# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ethumbs.db
Thumbs.db

//nacl build
nacl/build/
build/
!build/Makefile.am
sodium

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

testing/data
*~

# Vim
*.swp

# Ctags
tags

# Object files
*.o
*.lo
*.a

# Executables
*.exe
*.out
*.app
*.swp
*.la

m4/*
!m4/pkg.m4
configure
configure_aux
Makefile.in
aclocal.m4
config.h*
config.log
config.status
stamp-h1
autom4te.cache
libtoxcore.pc
libtool

.deps
.libs
.dirstamp

#netbeans
nbproject

#astyle
*.orig
