# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trash*
Icon?
ethumbs.db
Thumbs.db
*.tmp

# Make
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
tags
Makefile.in

# Testing
testing/data
*~

# Vim
*.swp

# Object files
*.o
*.lo
*.a

# Executables
*.exe
*.out
*.app
*.la

# Misc (?)
m4/*
configure
configure_aux
!m4/pkg.m4
aclocal.m4
config.h*
config.log
config.status
stamp-h1
autom4te.cache
libtoxcore.pc
libtoxav.pc
libtool
.deps
.libs
.dirstamp
build/

#kdevelop
.kdev/
*.kdev*

# Netbeans
nbproject

# astyle
*.orig

# Android buildscript
android-toolchain-*
toxcore-android-*
